.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container{
  border: 1px solid;
  width: 60%;
  height: 40vh;
  background: whitesmoke;
  overflow: hidden;
}

.item{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}



